<%= erb :'partials/_navbar' %>
<% find_user %>
<article>
  <% @resources.each do |resource| %>
    <a href="/resources/<%= resource.id %>">Title: <%= resource.title %></a><br><br>
    <span>Description: <p><%= resource.description %> </p></span>

</article>

  <% if resource.user == @user %>
    <a href="/resources/<%= resource.id %>/edit">Edit</a>
    <a href="/resources/<%= resource.id %>/delete">Delete</a>
    <% end %>
  <%end%>
