<%= erb :'partials/_navbar' %>
<% find_user %>
<h1>Resource Show Page</h1>
<article>
    <span>Title:<%= @resource.title %></span><br><br>
    <span>Description: <p><%= @resource.description %> </p></span>
    <% if @resource.user_id == @user %>
      <a href="/resources/<%= @resource.id %>/edit">Edit</a>
      <a href="/resources/<%= @resource.id %>/delete">Delete</a>
    <% end %>
</article>
